    <link rel="import" href="polymer/bower_components/paper-button/paper-button.html"> 
        
          <link rel="import" href="polymer/bower_components/top-panel/top-panel.html">
          <link rel="import" href="polymer/bower_components/paper-dialog/paper-dialog.html">
          <link rel="import" href="polymer/bower_components/paper-card/paper-card.html">
          <link rel="import" href="polymer/bower_components/iron-flex-layout/iron-flex-layout.html">
          <link rel="import" href="polymer/bower_components/google-chart/google-chart.html">
  <div class="cards">
  <paper-card heading="Welcome to Bootik Admin panel" class="pink">
      <div class="card-content">
        On this page you can do adminisrrative tasks on all Bootik modules. We provide an easy to use interface so that any user can navigate and perform the nescessary tasks
        Bellow is a list of system administrative tasks for setting up users, cgroups and permissions. You can also control the look and feel of your botik frontend site from here. ENJOY!!!
       </div>
      <div class="card-actions">
        <paper-button>Add User</paper-button>        
      </div>
      <div class="card-actions">
        <paper-button>Add Group</paper-button>
      </div>
       <div class="card-actions">
          <paper-button>Control Group Permission</paper-button>
      </div>
      <div class="card-actions">
           <paper-button>Look and Feel</paper-button>
      </div>
   </paper-card>
 </div>
 <div class="occupy">
  <paper-material>
  <div class="chart">
 <google-chart  
  type='pie'
  options='{"title": "Distribution of days in 2001Q1"}'
  cols='[{"label":"Month", "type":"string"}, {"label":"Days", "type":"number"}]'
  rows='[["Jan", 31],["Feb", 28],["Mar", 31]]'>
</google-chart>
  </div>
 <div class="chart">
<google-chart
  type='line'
  options='{"title": "User Visits by month"}'
  cols='[{"label":"Month", "type":"string"}, {"label":"Days", "type":"number"}]'
  rows='[["Jan", 31],["Feb", 28],["Mar", 31],["Apr", 30],["May", 31],["Jun", 30]]'>
</google-chart>
 </div>
 <div class="chart">
 <google-chart
    type='area'
    options='{"title": "Days in a month"}'
    cols='[{"label": "Month", "type": "string"},{"label": "Days", "type": "number"}]'
    rows='[["Jan", 31],["Feb", 28],["Mar", 31],["Apr", 30],["May", 31],["Jun", 30]]'>
    </google-chart>
 </div>
  
</paper-material>
 </div>

 <script>
window.addEventListener('WebComponentsReady', function(){document.querySelector('#spinner').style.display='none';
document.querySelector('#cont').style.display='block';
 }); 
</script>

 
 
