 
</div>
 </div>
 <paper-toast id="ptoast" class="toast"></paper-toast>
 
<div class="foot">
  <div class="foot-content">
    <div class="foor-section">
    <div class="topfoot"><span>Contact Us</span></div>
    <span><iron-icon icon="communication:phone"></iron-icon></span> <span><iron-icon icon="communication:mail"></iron-icon> </span> <span> 24-7 support</span>
    </div>
      <div class="foor-section">
    <div class="topfoot"><span>Frequently asked questions</span></div>
    <span></span>
    </div>
     <div class="foor-section">
    <div class="topfoot"><span>&copy; botik {{year}} (An Inginitech product)</span></div>
    <span></span>
    </div>
    </div>
</div>
 </paper-header-panel> 
  
 </div>

  <script>
window.addEventListener('WebComponentsReady', function(){document.querySelector('#spinner').style.display='none';
document.querySelector('#cont').style.display='block';
 }); 
</script>
 </body>
 </html>
 