

  <link rel="import" href="/polymer/bower_components/paper-toolbar/paper-toolbar.html">
      <link rel="import" href="/polymer/bower_components/paper-button/paper-button.html">
        <link rel="import" href="/polymer/bower_components/paper-material/paper-material.html">
      <link rel="import" href="/polymer/bower_components/paper-tooltip/paper-tooltip.html">
        <link rel="import" href="/polymer/bower_components/paper-spinner/paper-spinner.html">
    <link rel="import" href="/polymer/bower_components/neon-animation/neon-animations.html">
   
   <link rel="import" href="/polymer/bower_components/paper-card/paper-card.html">
    <link rel="import" href="/polymer/bower_components/ajax-parser/ajax-req.html">
    <link rel="import" href="/polymer/bower_components/ajax-parser/ajax-parser.html">
    <link rel="import" href="/polymer/bower_components/paper-dialog/paper-dialog.html">
     <link rel="import" href="/polymer/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
  
  <input type="hidden" value="0" id="skip" />
  <ajax-req  id="instore"></ajax-req>       
   
    <!--  <div class="leftdraw">
       
      </div>-->
       
      <div class="feature">
        <img src="/image/ad.png" />
       </div>
       <div class="reccont">
       <div class="leftbtn"><img src="/image/left.png" /></div>
       <div id ="recomend" class="recmd">
         
       </div>
     <!--  <div class="spinner"><paper-spinner  alt="Getting recomrndations for users" id="spinrec" active></paper-spinner></div> -->
       <div class="rightbtn"><img src="/image/right.png" /></div>
      <h3 id="rectxt"> Recomended based on items you viewed</h3>
      
       </div>
       
      
      <div class="shelf" id="threecols">
      <!--<div class="col" id="first"> 
      </div
      <div class="col" id="second"> 
      </div> 
      <div class="col" id="third"> -->
      </div> 
    
   
 
    <ajax-parser id="updatecart"></ajax-parser>
  <paper-dialog id="itemdialog" class="itemdialog"  entry-animation="scale-up-animation" exit-animation="fade-out-animation" modal>
    <h2 id="itemname">Item Info</h2>
    <p id="itemprice"></p>
    <div class="buttons">
    
    <div><paper-button dialog-confirm class="greenbutton"  onclick="updatecart(event,'A')"><iron-icon icon="icons:add-shopping-cart"></iron-icon></paper-button><paper-tooltip>Add to cart</paper-tooltip></div>
    <paper-button dialog-dismiss class="greenbutton">CLOSE</paper-button>
  </div>
   <div class= "dialogimage"><img id="itemimage" /> </div>
  <paper-dialog-scrollable>
   
   <div style="padding:20; display:block;"><p id="itemdescription"></p></div>
  </paper-dialog-scrollable>
  
    <input type="hidden" id="_itmid" name="_id" />
    </paper-dialog>
 <script> 
 document.getElementById('skip').value = '0';
 window.addEventListener('WebComponentsReady', function(){
    document.querySelector('#instore').respfunc = createAll;
  document.querySelector('#instore').dataurl = "/inventory/page/5/0";
  
  scrollHandler(document.getElementById('php'), function()
  {
   
    
  document.querySelector('.scrollanimation').style.opacity='0.5';
 
  document.querySelector('#instore').respfunc = createAll;
  document.querySelector('#instore').dataurl = "";
  
  document.querySelector('#instore').dataurl = "/inventory/page/5/"+document.getElementById('skip').value;
  console.log(document.getElementById('skip'), 'io');
  //document.getElementById('skip').value = temp;
   
  }
  );
 }); 
 
  
  function createAll(doc)
  {
    
     
   var i=0;
   
   for(var docitem in doc)
   {
     
    i++;
     var image = "";
     if(doc[docitem].image!=undefined)
         image = 'data:'+doc[docitem].image.type+';base64,'+doc[docitem].image.imagedata;
   
   var ele = document.createElement('div');
 
   ele.className="shelfitem";

         ele.innerHTML ='<div class="paper"><div class="itemcard">'+
             '<div><img class="hand itemimage" src="'+image+'" onclick="dialogpop(event)" /></div>'+
             '<div>'+
             '<div class="itemtitle hand itemname" onclick="dialogpop(event)">'+doc[docitem].name+'</div>'+
             '</div>'+
              '<div >'+
              ' <div>'+
                  '<div>'+doc[docitem].desc+'</div>'+
                '</div>'+
                '<div>'+
                  '<div  class="medium itemprice price">&#36;'+parseFloat(doc[docitem].uprice).toFixed(2)+'</div>'+
                '</div>'+
                '</div>'+
                '<input type="hidden" name="itemlongdesc" class="itemlongdesc" value="'+doc[docitem].longdesc+'" />'+
                '<input type="hidden" name="_id" class="_id" value="'+doc[docitem]._id+'" />'+
          '</div> </div>';
       // if(i === 1)
        //   document.getElementById('first').appendChild(ele);
        // else if(i=== 2)
         ////  document.getElementById('second').appendChild(ele);
         // else if( i=== 3)
          // document.getElementById('third').appendChild(ele);
       // if(i===3)
        //  i=0; 
         
     document.getElementById('threecols').appendChild(ele);
     
     
      
   }
      if(doc.length)
      //  document.querySelector('.content').style.height=  document.querySelector('.content_client').offsetHeight+'px';
     document.getElementById('getcart').dataurl = '/inventory/getcartitems/';
     document.getElementById('getcart').respfunc= updatebadge;
  // alert(document.querySelector('#mainContainer').offsetHeight+'px');
     ppopulteRecomendations();
    var temp =  parseInt(document.getElementById('skip').value)+5;
  
    document.getElementById('skip').value = temp;
    document.querySelector('.scrollanimation').style.opacity='0';
   
  }
  
  function dialogpop(event)
  {
     
     ele = event.target.parentElement.parentElement;
     document.querySelector('#itemimage').src = ele.querySelector('.itemimage').src;
     document.querySelector('#itemdescription').innerHTML = ele.querySelector('.itemlongdesc').value;
      document.querySelector('#itemprice').innerHTML = ele.querySelector('.price').innerHTML;
       document.querySelector('#itemname').innerHTML = ele.querySelector('.itemname').innerHTML;
         document.querySelector('#_itmid').value = ele.querySelector('._id').value;
         
     document.getElementById('itemdialog').open();
     addToLikeList(ele.querySelector('._id').value);
   
  }
  
function addToLikeList(item)
{
   
  var user= document.getElementById('uname').value;
  var ajp =document.getElementById('updatecart');
  ajp.submit=false;
  ajp.jsonurl = "/kwapoai/addviewed";
  ajp.jsonstring = JSON.stringify({user:user, item:item});
  ajp.respfunc= function(doc)
  {
    
  }
  ajp.submit=true;
}

function ppopulteRecomendations()
{
  var recdiv = document.getElementById('recomend');
  console.log(recdiv.children, 'test');
  if(recdiv.children.length === 0)
  {
   document.querySelector('#instore').dataurl = "";
  
    document.querySelector('#instore').dataurl = "/kwapoai/recomendfrombrowsing/"+document.getElementById('uname').value; 
    document.querySelector('#instore').respfunc = function(doc)
    {
      
      for(var recitem in doc)
      {
        
        var ele = document.createElement('div');
        ele.className = 'recItem';
        var image = 'data:'+doc[recitem].image.type+';base64,'+doc[recitem].image.imagedata;
        
         ele.innerHTML = '<div class="vert" ></div><img src = "'+image+'" />';
         recdiv .appendChild(ele);
       
    
      }
      document.querySelector('.reccont').style.height="200px";
       document.querySelector('.reccont').style.opacity='0.9';
       recdiv.style.height="200px";
      recdiv.style.opacity = '0.9';
      
      document.querySelector('.leftbtn').style.opacity='0.9';
      document.querySelector('.rightbtn').style.opacity='0.9';
      document.querySelector('#rectxt').style.opacity = '0.9';
      //document.getElementById('spinrec').active=false;
    }
  }
}

 
   </script>
  
