$getviewpart('header');
<link rel="import" href="/polymer/bower_components/paper-input/paper-input.html">
<link rel="import" href="/polymer/bower_components/paper-input/paper-textarea.html">
<div class="locations">
	<div class="formregcenter" >
	<form is="iron-form" id="colform">
	  <paper-input label="Collevtion Name" name="collecctionname"></paper-input>
	   <paper-textarea label="Description" name="description"></paper-textarea>
	</form>
	<paper-button>save</paper-button>
	
	</div>
</div>
$getviewpart('footer');