$getviewpart('header');
 <link rel="import" href="/polymer/bower_components/paper-material/paper-material.html">
 <link rel="import" href="/polymer/bower_components/paper-input/paper-input.html">
  <link rel="import" href="/polymer/bower_components/paper-checkbox/paper-checkbox.html">
  <link rel="import" href="/polymer/bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="/polymer/bower_components/paper-button/paper-button.html">
  <link rel="import" href="/polymer/bower_components/iron-form/iron-form.html">
    <link rel="import" href="/polymer/bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="/polymer/bower_components/iron-icons/hardware-icons.html">
  <link rel="import" href="/polymer/bower_components/a-list/a-list.html">
  <link rel="import" href="/polymer/bower_components/ajax-parser/ajax-parser.html">
   <link rel="import" href="/polymer/bower_components/ajax-parser/ajax-req.html">
    <link rel="import" href="/polymer/bower_components/paper-item/paper-item.html">
  <link rel="import" href="/polymer/bower_components/iron-collapse/iron-collapse.html">
  <ajax-parser id="defsave"></ajax-parser>
   <div class="midpage"
      <p> If all entries have equal rates then they will be calculated individually on the product price. If not then they will be calculated on the price pluss previous entries with lower rates </p>
  <div class="section">
  
   <paper-material> 
    
   <div id="btax">
    
  </div>
  <paper-button class="orange500" raised  onclick="savedef()">save</paper-button>
  <p> &nbsp;</p>
   </paper-material>
  </div>
   </div>
 <ajax-req  id="taxes" dataurl="/taxes/getall" ></ajax-reqr>
 
 
<script>
  allTaxes();
 
</script>
$getviewpart('deletedialog');
$getviewpart('footer');