$getviewpart('header');
 <link rel="import" href="/polymer/bower_components/paper-input/paper-input.html">
 <link rel="import" href="/polymer/bower_components/paper-button/paper-button.html">
  <link rel="import" href="/polymer/bower_components/paper-checkbox/paper-checkbox.html">
 <link rel="import" href="/polymer/bower_components/paper-card/paper-card.html">
  <link rel="import" href="/polymer/bower_components/paper-material/paper-material.html">
  <link rel="import" href="/polymer/bower_components/iron-form/iron-form.html">
  <link rel="import" href="/polymer/bower_components/a-list/a-list.html">
  <link rel="import" href="/polymer/bower_components/ajax-parser/ajax-parser.html">
   <ajax-parser  id="taj" method="POST" ></ajax-parser>
   <div>

    <paper-card heading="Welcome to Bootik Tax and Shipping Admin panel" class="pink">
      <div class="card-content">
        Manage your taxes. Chose to automatically calculate tax on prices. Tax will be reflected in the prices displayed on yuor stores.
       </div>
      <div class="card-actions">
        <paper-checkbox>Automatically calculate taxes using bootik ?</paper-checkbox>        
      </div>
      <div class="card-actions">
        <paper-button>Add Country</paper-button>
      </div>
       <div class="card-actions">
          <paper-button>Regions Management</paper-button>
      </div>
      <div class="card-actions">
           <paper-button>Tax Overides</paper-button>
      </div>
       <div class="card-actions">
           <paper-button>Shipping Areas</paper-button>
      </div>
	  <div class="card-actions">
           <paper-button>Shipping Destinations</paper-button>
      </div>
   </paper-card>
   </div>

<script>
	  sajax('#fldset').disableFields(true);
	  
	  function submitForm()
	  { 
		 
		  var eve=document.getElementById("ev").value;
		   document.querySelector('#taj').rspelement  = document.getElementById("ptoast");
		   if(document.querySelector('#taxform').validate())
		   { 
			    document.querySelector('#taj').jsonurl='';
				document.querySelector('#taj').submit=false;
				 document.querySelector('#taj').respfunc=resp;
				 
				   var obj =document.querySelector('#taxform').serialize();
				   obj.event =eve;
				 
				 if(eve==='E')
				 {
					var selected = document.querySelector('#taxlist').selectedItems;
					
					 obj._id=(selected[selected.length-1])._id;
					 
					 
				 }
				   document.querySelector('#taj').jsonstring=JSON.stringify(obj);
					
				    document.querySelector('#taj').jsonurl='/taxes/save';
				    document.querySelector('#taj').submit=true;
		   }
	  }
	  
	 function populateform()
	  {
		  var selected = document.querySelector('#taxlist').selectedItems;
		 var model =  selected[selected.length-1];
		 updateFormValues(document.querySelector('#taxform'), model);
		 sajax('#mod').disable(false);
		sajax('#del').disable(false);
	  }
	  
	  function deletecall()
       {       
       document.getElementById('pd').open();
       
        }
		function gothrough()
        {
		  
	      var selected = document.querySelector('#taxlist').selectedItems
		  var obj='';
		  for(var it in selected)
		  {
			  
			  obj+= '"'+selected[it]._id+'",';
			 
			  
		  }
		   obj = obj.slice(0,-1);
          document.getElementById('taj').jsonurl="/taxes/remove";
		  document.getElementById('taj').jsonstring = '{"ids":['+obj+']}';
          deleteobj(document.getElementById('taj'));  
        }
	 function showaddform()
	 {
		
		 document.querySelector(".countryadd").style.height = '300px';
		  document.querySelector(".countryadd").style.opacity = '1';
	 }
</script>
$getviewpart('deletedialog');
$getviewpart('footer');