
 <link rel="import" href="/polymer/bower_components/paper-material/paper-material.html">
 <link rel="import" href="/polymer/bower_components/paper-button/paper-button.html">
 <link rel="import" href="/polymer/bower_components/paper-spinner/paper-spinner.html">
 <link rel="import" href="/polymer/bower_components/paper-input/paper-input.html">
 <link rel="import" href="/polymer/bower_components/iron-form/iron-form.html">
 <link rel="import" href="/polymer/bower_components/ajax-parser/ajax-parser.html">
 <link rel="import" href="/polymer/bower_components/ajax-parser/ajax-req.html">
  <ajax-req  id="regs"></ajax-req>  
    <ajax-parser  id="rac" method="POST" ></ajax-parser> 
  
<div class="locations">
   
	<div class="writeup">
    <p>Add locations ro your bootik setup.</p>
    <p>if you have stroes in different countries with different tax rates add them here</p>
    <i>Sub regions can be added by clicking on the country</i>  
    
   </div> 
    <div class="loctable">
        <div class="spinner"><paper-spinner id="spin" alt="Loading cart items" active></paper-spinner></div>  
        <paper-material class="pmaterial paded" raised >
            
            <h4 class="paded underline">Shipping Areas(Zones)</h4>
            <div class="tbl2">
                
                
                <div>Area (zone) Name</div>
                <div>Area (Zone Description)</div>
             </div>
             <div id="hidentable"></div>
           <div class="tbl2">
             <form is="iron-form" method="post" action="#" id="rform">
           <div><input  name" name="zonename" class= "longtext"></input></div>
           <div><input class ="longtext" name="zonedescription"></paper-input> <span> <button onclick="return callsaveZone(event)">save</button></span></div>
             </form>
           </div>
         
        </paper-material>
    </div>
   
</div>
$getviewpart('deletedialog');
<script>
     populatezones();
    function callsaveZone(event)
    {
       return saveZone(event,'','A');
    }
     function saveZone(event,model,ev)
    {
      //document.querySelector('#spin').active=true;
       var mod ={}
      
       if(model === '')
        {
            mod= document.getElementById("rform").serialize();
        }
        else
        {
           mod = model;
        }
        document.getElementById('rac').submit=false;
        mod.event = ev;
        
        document.getElementById('rac').jsonurl = "/shipping/savezone";
        document.getElementById('rac').jsonstring = JSON.stringify(mod);
        document.querySelector('#rac').respfunc=function(doc) {
        populatezones();
         
          
           resp(doc,document.getElementById("ptoast")); 
        };
         
         document.getElementById('rac').submit=true;
       return false;
    }
    
    
    
    function populatezones()
   {
    
      document.querySelector('#regs').respfunc = function(doc)
        { 
          
          
         document.getElementById('hidentable').innerHTML = '';
         
           if(doc[0].success == false)
           {
              document.querySelector('.pmaterial').style.opacity=0.9;  
             document.querySelector('#spin').active=false;
              return;
           }
            for(item in doc)
            {
           
             var dv = document.createElement('div');
             dv.className ="tbl2";
            
            dv.innerHTML = '<form  is="iron-form" method="post" class="formsr" action="#">'+
            '<div> <input class="longtext" name="zonename" value="'+doc[item].zonename+'" /> <input type="hidden"  name="_id" value="'+doc[item]._id+'" />'+
            '</div>'+ 
              
              '<div><input class="longtext"  name="zonedescription" value="'+doc[item].zonedescription+'" />'+
               '<span class="right"><button disabled class="disabled save" title="Save Zone" onclick="return edititem(event)" ><img src="/image/save.png" /> <button title="Delete Zone" onclick="return deleteitem(event)"><img src="/image/trash.png" /></button>'+
              '<button title="Edit Item" onclick="return enableedit(event)" class="edit"><img src="/image/edit.png"/></button></span></div></form>';
             //console.log(dv.querySelector('.loc'));       
             document.getElementById('hidentable').appendChild(dv);
            
             
            }
             var ele = document.querySelector('.pmaterial');
             var forms =  ele.querySelectorAll('.formsr');
             for(var form in forms)
             {
              
              if(forms[form].className = 'formsr');
               sajax().disableFields(true,forms[form]);
             }
             
             
             document.querySelector('.pmaterial').style.opacity=0.9;  
             document.querySelector('#spin').active=false;
          
            
        }
         document.querySelector('#regs').dataurl = "";
        document.querySelector('#regs').dataurl = "/shipping/findzones";
      
   
        
    }
     function edititem(event)
    {
       var parent = event.target.parentNode.parentNode.parentNode.parentNode.parentNode;
      
        
         
        var mod = parent.querySelector('.formsr').serialize();
       
        saveZone(event, mod,'E');
         
        return false;
    } 
    var prevselected='';
    function enableedit(event)
    {
         var parent = event.target.parentNode.parentNode.parentNode.parentNode.parentNode;
       
       
      
       parent.querySelector('.save').disabled = false;
      
       sajax().disableFields(false,  parent.querySelector('.formsr'));
       var cl =parent.querySelector('.save').classList;
      
       cl.remove('disabled');
       
        if(prevselected !== '' && prevselected !== parent)
        {
          
          sajax().disableFields(true,prevselected.querySelector('form'));
          prevselected.querySelector('.save').disabled = true;
          var classlist =  prevselected.querySelector('.save').className="save disabled";
         // classlist.add('disabled');
          //classlist.Add('disabled');
          
        }
        prevselected = parent;
       return false;  
       
          
    }
    
     var gevent;
    function deleteitem(event)
    {
       document.getElementById('pd').open();
      gevent = event;
      return false;

       
    }
    
</script>

